<%- include("partials/header.ejs") %>
<div class="form-div">
  <form action="/createPost" method="POST">
    <% if (locals.errors) { %>
    <ul class="error">
      <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>

    <input
      type="text"
      required
      maxlength="100"
      minlength="5"
      name="title"
      placeholder="Title"
      <% if(locals.oldInput) { %>
        value="<%= oldInput.title %>"
        <% } else { %>
          value=""
          <% } %>
    />
    <input
      type="text"
      required
      maxlength="5000"
      minlength="20"
      name="content"
      placeholder="Content"
      <% if(locals.oldInput) { %>
        value="<%= oldInput.content %>"
        <% } else { %>
          value=""
          <% } %>
    />
    <input type="submit" value="Create new post" />
  </form>
</div>

<%- include("partials/footer.ejs") %>
